<!DOCTYPE html>
<html lang="ja" ng-app=flavaApp>
    <head>
        <meta charset="utf-8">
        <title>「幕 BEAT」ゲーム実況者幕末志士 ２次創作音ゲー</title>
        <meta http-equiv="x-ua-compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <script src="/js/jquery-1.7.2.min.js"></script>
        <script src="/js/music.js"></script>
        <script src="/js/resource.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/se.js"></script>
        <script type="text/javascript" src="/js/enchant.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
    <audio id="siteEnter" preload="auto">
        <source src="music/enter.mp3" type="audio/mp3">
    </audio>
    <audio id="selectOver" preload="auto">
        <source src="music/onmouse.mp3" type="audio/mp3">
    </audio>
    <audio id="musicSelect" preload="auto">
        <source src="music/select.mp3" type="audio/mp3">
    </audio>
    <audio id="loadComplete" preload="auto">
        <source src="music/load.mp3" type="audio/mp3">
    </audio>
    <audio id="resultFailed" preload="auto">
        <source src="music/failed.mp3" type="audio/mp3">
    </audio>
    <audio id="resultPerfect" preload="auto">
        <source src="music/perfect.mp3" type="audio/mp3">
    </audio>
    <audio id="resultClear" preload="auto">
        <source src="music/clear.mp3" type="audio/mp3">
    </audio>
