<section id="select">
    <div class="container">
        <div>
            [準備中]<br><br>
            ■遊び方<br>
            落下する「キノコ」が「ターゲット」に重なるタイミングで対応するボタンを押そう！<br>
            精度に応じて得点が加算されるぞ！<br><br>
            ■キー操作<br><br>
            ターゲットに対応するキー：左から順に、Z X C V B キー<br>
            ゲラキー：W キー<br>
        </div>
    </div>
</section>
<a ng-href="#/select" id="help"><i class="fa fa-times"></i></a>
